In [ ]:
#Shardul Rasal
#25070123155

num=int(input("Enter number:"))
if num>0:
  print("Positive")
elif num<0:
  print("negative")
else:
  print("Zero")

Ete number:89
Positive

In [ ]:
# check whether the number is even or odd
num=int(input("enter  num:"))
if num%2 == 0:
  print("Even")
else:
    print("odd")

enter  num:6
Even

In [ ]:
# Find largest of 3 numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 1
Enter second number: 5
Enter third number: 7
The largest number is 7

In [ ]:
# progam to find grade
marks=int(input("enter marks:"))
if marks>=90:
  print("GradeA")
elif marks>=75:
  print("GradeB")
elif marks>=60:
  print("GradeC")
elif marks>=40:
  print("GradeD")
else:
  print("Fail")

enter marks:75
GradeB

In [ ]:
# Program to check if a year is a leap year
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 2000
2000 is a leap year

In [11]:
print("Incremented Date if it is valid")

date = input("Enter the date in format (dd/mm/yyyy): ")
dd, mm, yy = map(int, date.split("/"))

# Find maximum days in the month
if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:
    max1 = 31

elif mm == 4 or mm == 6 or mm == 9 or mm == 11:
    max1 = 30

elif mm == 2:
    if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
        max1 = 29
    else:
        max1 = 28

else:
    print("Date is invalid")
    exit()

# Validate date
if mm < 1 or mm > 12:
    print("Date is invalid")

elif dd < 1 or dd > max1:
    print("Date is invalid")

# Increment date
elif dd == max1 and mm != 12:
    dd = 1
    mm = mm + 1
    print("The incremented date is:", dd, mm, yy)

elif dd == 31 and mm == 12:
    dd = 1
    mm = 1
    yy = yy + 1
    print("The incremented date is:", dd, mm, yy)

else:
    dd = dd + 1
    print("The incremented date is:", dd, mm, yy)

Incremented Date if it is valid
Enter the date in format (dd/mm/yyyy): 01/08/2006
The incremented date is: 2 8 2006

In [ ]:
# Program to check if a character is a vowel or a consonant (shorter version)
char = input("Enter a character: ")

char_lower = char.lower()

if char_lower in ('a', 'e', 'i', 'o', 'u'):
    print(f"{char} is a Vowel.")
elif 'a' <= char_lower <= 'z':
    print(f"{char} is a Consonant.")
else:
    print(f"{char} is not an alphabet character.")

Enter a character: W
W is a Consonant.

In [8]:
basic = float(input("Enter Basic Salary: "))

if basic <= 10000:
    hra = basic*0.20
    da = basic*0.80
elif basic <= 20000:
    hra = basic*0.25
    da = basic*0.90
else:
   hra = basic*0.30
   da = basic*0.95

   gross_salary = basic + hra + da
   print("Gross Salary:",gross_salary)

Enter Basic Salary: 340000
Gross Salary: 765000.0

In [6]:
income = float(input("Enter annual income: "))
if income <= 250000:
    tax = 0
elif income <= 500000:
    tax = (income - 250000) * 0.05
elif income <= 1000000:
    tax = (250000*0.05) + ((income - 500000) * 0.20)
else:
    tax = (250000*0.05) + (500000*0.20) + ((income - 1000000) * 0.30)

print("income Tax:",tax)

Enter annual income: 380000
income Tax: 6500.0

In [10]:
x="Python is easy"
a,b,c=x.split()
print(a)
print(b)
print(c)

Python
is
easy